
body {
  padding-top: 80px;
}

#review {
  padding-top: 100px;
}

#main {
  padding-top: 25px;
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

